section.about
  .about__container.container
    .about__inner
      .about__photos
        .about__photos-column
          img(src="@img/about/1.jpg", alt="img")
          img(src="@img/about/2.jpg", alt="img")
        .about__photos-column
          img(src="@img/about/3.jpg", alt="img")
          img(src="@img/about/4.jpg", alt="img")
      .about__content
        h2.about__title.title Our company
        p.about__text.text
          | Debuilds is a team of architects, interior design, and contractors who help our clients not only to build their dream building, but also to feel comfortable after the building is used.
        p.about__subtext
          | We already handled
          .about__content-row
            p.about__advs 50+ Clients
            p.about__advs 30+ House
            p.about__advs 20+ Building
          button.about__button.button See more