section.benefits
  .benefits__container.container
    h2.benefits__title.title Our benefits
    p.benefits__desc.text
      | Here our benefits if you collaboration with our team
    .benefits__inner
      .benefits__item
        img.benefits__accept(src="@img/benefits/accept.svg" alt="accept image")
        h3.benefits__caption Flexible time
        p.benefits__descr.text
          | We work wherever you ready to builds. Work fast and profesional

      .benefits__item
        img.benefits__accept(src="@img/benefits/accept.svg" alt="accept image")
        h3.benefits__caption Customizable design
        p.benefits__descr.text
          | We can design your buildings, but we open if you want to customize your design or if you have architect

      .benefits__item
        img.benefits__accept(src="@img/benefits/accept.svg" alt="accept image")
        h3.benefits__caption Negotiable price
        p.benefits__descr.text
          | Yes, we’re open to negotiate the price with you, and we will give the best price for our lovely clients

