footer.footer
  .footer__container.container
    .footer__inner
      .footer__item
        .footer__logo 
          include ../components/logo
        p.footer__text.text Lizenzo street number 12 Jakarta, Indonesia
        button.footer__btn.button Get directions
      .footer__item
        span.footer__caption.caption Menu
        ul.footer__list.text
          li.footer__element
            a.footer__link(href="index.html") Home
          li.footer__element
            a.footer__link(href="p-about.html") About
          li.footer__element
            a.footer__link(href="p-gallery.html") Gallery
          li.footer__element
            a.footer__link(href="p-services.html") Service
      .footer__item
        span.footer__caption.caption Contact
        ul.footer__list
          li.footer__element
            a.footer__link(href="#") E-mail
          li.footer__element
            a.footer__link(href="#") Mobile
          li.footer__element
            a.footer__link(href="#") Whatsapp
          li.footer__element
            a.footer__link(href="#") Fax
      .footer__item
        span.footer__caption.caption Career
        ul.footer__list
          li.footer__element
            a.footer__link(href="#") Job
          li.footer__element
            a.footer__link(href="#") Part-time
          li.footer__element
            a.footer__link(href="#") Internship
          li.footer__element
            a.footer__link(href="#") Service
      .footer__item
        span.footer__caption.caption Business
        ul.footer__list
          li.footer__element
            a.footer__link(href="#") Affiliate
          li.footer__element
            a.footer__link(href="#") Collaboration
          li.footer__element
            a.footer__link(href="#") Investment
          li.footer__element
            a.footer__link(href="#") People
