header.header-alt
  .header-alt__container.container
    .header-alt__top
      include /dev-pug/components/logo
      include /dev-pug/components/nav
    .header-alt__content
      .header-alt__title.title
        | About our story - We are the best team
