section.reviews
  .reviews__container.container
    .reviews__inner
      .reviews__about-home
        h2.reviews__title.title What our clients say?
        p.reviews__desc.text See what our clients say about their new home
        button.reviews__button.button See more
      .reviews__review
        .reviews__review-content
          img(src="@img/reviews/avatar.png" alt="avatar")
          p I really happy to see the result my new home. It’s really good house and good price too. And they work so fast becasue they have the best team. Once again, thankyou. I really appreciate it.
          span - Mr. Roberto
        img(src="@img/reviews/bg.jpg" alt="")