section.services
  .services__container.container
    h2.services__title.title Our services
    p.services__desc.text
      | Our services include building new buildings and renovating old buildings
    .services__inner
      .services__item
        img.services__img(src="@img/services/design.svg" alt="img")
        h3.services__caption Design building/house
        p.services__descr.text
          | We have an architect for design new buildings
      .services__item
        img.services__img(src="@img/services/sofa.svg" alt="img")
        h3.services__caption Interior Design
        p.services__descr.text
          | We have an interior designer for design your perfect inside house
      .services__item
        img.services__img(src="@img/services/house.svg" alt="img")
        h3.services__caption Build from scratch
        p.services__descr.text
          | We have an contractor for build new building from scratch
      .services__item
        img.services__img(src="@img/services/instruments.svg" alt="img")
        h3.services__caption Renovation
        p.services__descr.text
          | We can also renovate or rebuilds new buildings/house