section.subscribe
  .subscribe__container.container
    h2.subscribe__title.title Want to get our offer updates and news?
    p.subscribe__desc.text Submit your e-mail and we will give you update about information and discount. Every single week. (not spamming)
    form.subscribe__form(action="")
      input.subscribe__input(type="email" placeholder="Enter your e-mail here")
      button.subscribe__button.button Submit