section.works
  .works__container.container
    h2.works__title.title Our works
    p.works__desc.text
      | Here our some of the best the result when we build some buildings, houses, and also interior designs
    .works__inner
      .works__flex
        img(src="@img/works/1.jpg" alt="gallery")
        img(src="@img/works/2.jpg" alt="gallery")
      .works__flex
        img(src="@img/works/3.jpg" alt="gallery")
      .works__flex
        img(src="@img/works/4.jpg" alt="gallery")
        img(src="@img/works/5.jpg" alt="gallery")
      .works__grid
        img(src="@img/works/6.jpg" alt="gallery")
        img(src="@img/works/7.jpg" alt="gallery")
        img(src="@img/works/8.jpg" alt="gallery")
        img(src="@img/works/9.jpg" alt="gallery")
    button.works__button.button See more

