@media (max-width: 1388px) {
  // Benefits
  .benefits {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
  // End Benefits
}

@media (max-width: 1024px) {
  // Header
  .header {
    &__image {
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    &__img {
      height: 100%;
      opacity: 0.3;
    }
  }
  // End Header

  // Services
  .services {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
  //End Services
}

@media (max-width: 920px) {
  // Header
  .nav {
    &__list {
      position: absolute;
      display: block;
      top: -15px;
      left: 100px;
      padding: 30px;
      border-radius: 15px;
      background-color: #000;
      transition: all 0.3s ease;
    }

    .nav__list.nav__list--active {
      position: absolute;
      display: block;
      top: -15px;
      left: -80px;
      padding: 30px;
      opacity: 0.9;
      border-radius: 15px;
      background-color: #000;
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .nav__burger {
    display: block;
  }
  // End Header
}

@media (max-width: 864px) {
  // About
  .about {
    &__inner {
      flex-direction: column;
      justify-content: center;
    }

    &__photos {
      margin-bottom: 25px;
    }

    &__content > * {
      margin-left: 0;
    }
  }
  // End About
}

@media (max-width: 760px) {
  // Reviews
  .reviews {
    &__inner {
      flex-direction: column-reverse;
    }

    &__about-home {
      padding-top: 165px;
    }

    &__review-content {
      bottom: -150px;
      max-width: 315px;
      background-image: linear-gradient(
        1.17deg,
        rgba(2, 57, 87, 0.6) -19.65%,
        rgba(5, 96, 136, 0.6) 93.67%
      );
    }
  }
  // End Reviews

  // Footer
  .footer {
    &__inner {
      justify-content: center;
    }
    &__item:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100%;
    }
  }
  // End Footer
}

@media (max-width: 450px) {
  // Header
  .header {
    &__title {
      font-size: 33px;
    }
  }
  // End Header
}

@media (max-width: 360px) {
  // Reviews
  .reviews {
    padding-top: 55px;
    &__review-content {
      bottom: -170px;
    }
  }
}
