.header {
  margin-bottom: 65px;
  background: linear-gradient(26.47deg, #023957 22.58%, #056088 94.16%);

  &__container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 170px;
  }

  &__top {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
  }

  &__logo {
    margin-left: 15px;
  }

  &__nav {
    position: relative;
    z-index: 2;
  }

  &__content {
    position: relative;
    z-index: 2;
    margin-left: 36px;
  }

  &__title {
    max-width: 740px;
    margin-bottom: 16px;
    color: $c-default;
  }

  &__text {
    max-width: 445px;
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 170%;
    color: $c-default;
  }

  &__image {
    position: absolute;
    z-index: 1;
    top: 2px;
    right: -55px;
    width: 930px;

    & img {
      min-width: 100%;
    }
  }
}
