.jobs {
  &__inner {
    display: flex;
    justify-content: center;
    gap: 50px 20px;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 420px;
      padding: 20px;
      cursor: pointer;
      box-shadow: 0 8px 30px rgba(2, 57, 87, 0.15);
    }
  }
}
