.reviews {
  margin-bottom: 100px;
  &__about-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 33px;
    padding-right: 33px;
    background-color: $c-default;
  }

  &__title {
    margin-bottom: 16px;
    text-align: center;
    white-space: nowrap;
  }

  &__desc {
    align-self: flex-start;
    justify-self: left;
    max-width: 195px;
    margin: 0;
    margin-bottom: 32px;
    text-align: left;
  }

  &__inner {
    display: flex;
    flex-basis: 50%;
  }

  &__about-home {
    position: relative;
    height: 320px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -25%;
      width: 30px;
      height: 80px;
      background-color: $c-default;
    }
  }

  &__review {
    position: relative;
  }

  &__review-content {
    position: absolute;
    bottom: -50px;
    right: 0;
    padding: 35px;
    max-width: 416px;
    background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
    & img {
      position: absolute;
      top: -25%;
      left: -12.5%;
    }

    & p {
      margin-bottom: 16px;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
      color: $c-default;
    }

    & span {
      font-style: italic;
      font-weight: 600;
      font-size: 16px;
      line-height: 170%;
      color: $c-default;
    }
  }
}
