.services {
  &__title {
    margin-bottom: 16px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
  }

  &__item {
    max-width: 310px;
    height: 240px;
    padding-top: 20px;
    padding-left: 10px;
    cursor: pointer;
    &:hover {
      background-color: $c-blue;
      border-radius: 10px;
    }
    &:nth-child(3) {
      padding-top: 5px;
    }
  }

  &__img {
    margin-bottom: 16px;
  }

  &__caption {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    color: $c-gray;
  }

  &__descr {
    max-width: 230px;
    line-height: 170%;
    color: $c-gray;
  }
}

.services-main {
  padding-top: 50px;
  padding-bottom: 50px;
}
