.story {
  padding-top: 100px;
  padding-bottom: 100px;

  &__inner {
    display: flex;

    & > * {
      flex-basis: 50%;
    }
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  &__text:not(:last-child) {
    margin-bottom: 32px;
  }
}
