extends /dev-pug/head

prepend vars
  - title = "About DB-"
  - style = "about"


append vars
  -
    var body = {
      attrs: {},
      classList: ["body"]
    }

append styles
  link(rel="stylesheet" href="css/fonts.min.css")

block content
  .wrapper

    include /dev-pug/sections/header-alt

    main.main
      include /dev-pug/sections/story

    include /dev-pug/sections/footer