extends /dev-pug/head

prepend vars
  - title = "Gallery"
  - style = "gallery"
  //- header-alt title text
  - titleText = "Here some our best works"


append vars
  -
    var body = {
      attrs: {},
      classList: ["body", "p-gallery"]
    }

append styles
  link(rel="stylesheet" href="css/fonts.min.css")

block content
  .wrapper

    include /dev-pug/sections/header-alt

    main.gallery-main
      include /dev-pug/sections/cards

    include /dev-pug/sections/footer