extends /dev-pug/head

prepend vars
  - title = "Our services"
  - style = "services"
  //- header-alt title text
  - titleText = "Our team services"


append vars
  -
    var body = {
      attrs: {},
      classList: ["body"]
    }

append styles
  link(rel="stylesheet" href="css/fonts.min.css")

block content
  .wrapper

    include /dev-pug/sections/header-alt

    main.services-main
      include /dev-pug/sections/services
      include /dev-pug/sections/design

    include /dev-pug/sections/footer