extends dev-pug/head

prepend vars
  - title = "DB"

append vars

append styles
  link(rel="stylesheet" href="css/fonts.min.css")

block content
  .wrapper
    include dev-pug/sections/header

    main.main
      include ./dev-pug/sections/about
      include ./dev-pug/sections/services
      include ./dev-pug/sections/benefits

    include dev-pug/sections/footer
