extends dev-pug/head

prepend vars
  - title = "DB"
  - style = "main"

append vars

append styles
  link(rel="stylesheet" href="css/fonts.min.css")

block content
  .wrapper
    include dev-pug/sections/header

    main.main
      include ./dev-pug/sections/about
      include ./dev-pug/sections/services
      include ./dev-pug/sections/benefits
      .main__bg
        include ./dev-pug/sections/works


    include dev-pug/sections/footer
