nav(class=`${bemClass} nav`)
  ul.nav__list
    li.nav__item
      a.nav__link.text(href="/index.html") Home
    li.nav__item
      a.nav__link.text(href="/p-about.html") About
    li.nav__item
      a.nav__link.text(href="#") Services
    li.nav__item
      a.nav__link.text(href="#") Gallery
    li.nav__item
      a.nav__link.text(href="#") Contact
    li.nav__item
      a.nav__link.text(href="#") Story
    li.nav__item
      a.nav__link.text(href="#") Careers
    li.nav__item
      a.nav__link.text(href="#") News
  button.nav__burger
    span.nav__burger-span