nav(class=`${bemClass} nav`)
  ul.nav__list
    li.nav__item
      a.nav__link.text(href="#") Home
    li.nav__item
      a.nav__link.text(href="#") About
    li.nav__item
      a.nav__link.text(href="#") Services
    li.nav__item
      a.nav__link.text(href="#") Gallery
    li.nav__item
      a.nav__link.text(href="#") Contact
    li.nav__item
      a.nav__link.text(href="#") Story
    li.nav__item
      a.nav__link.text(href="#") Careers
    li.nav__item
      a.nav__link.text(href="#") News